/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.hinge {
  animation-duration: 2s;
  transition:
    color 0.4s ease-out,
    text-decoration 0.4s ease-out,
    transform 0.4s ease-out;
}

.hinge:hover {
  transform: rotate(5deg);
}

.hinge:nth-of-type(odd):hover {
  transform: rotate(-5deg);
}


@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }

  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(230, 0, 191, 0.1);
  }

  50% {
    box-shadow: 0 0 60px rgba(230, 0, 191, 0.8);
  }

  100% {
    box-shadow: 0 0 5px rgba(230, 0, 191, 0.1);
  }
}
