.xl-title{
    font-size: 5.555555555555555vw;
    line-height: 5.555555555555555vw;
    margin-bottom: 24px;
} // 80
.lg-title{
    font-size: 4.861111111111111vw;
    line-height: 4.861111111111111vw;
    margin-bottom: 24px;
}// 70
.md-title{
    font-size: 4.166666666666667vw;
    line-height: 4.166666666666667vw;
}// 60
.sm-title{
    font-size: 2.4305555555555554vw;
    line-height: 2.4305555555555554vw; 
}// 35
.md-text{
    font-size: 1.8055555555555556vw;
    line-height: 2.5vw;
} 